body {
  background: rgb(239,21,115);
  background: linear-gradient(79deg, rgba(239,21,115,1) 0%, rgba(197,177,56,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #FFB84C;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  font-family: 'Roboto Flex', sans-serif;
  margin-top: 10px;
}